@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");
* {
  box-sizing: border-box;
  --white: #fff;
  --maincolor: #434b56;
}

.diplayflex, .flex-column, .flex-space-evenly, .flex-space-between, .flex-center {
  display: flex;
  align-items: center;
}

.flex-center {
  justify-content: center;
}

.flex-space-between {
  justify-content: space-between;
}

.flex-space-evenly {
  justify-content: space-evenly;
}

.flex-column {
  flex-direction: column;
}

.secondary-color {
  color: #d4d4dc;
}

.bg-color1 {
  background-color: red;
}

.bg-color2 {
  background-color: blue;
}

button.navbar-toggler {
  background-color: #ffffff;
}
button.navbar-toggler:hover {
  box-shadow: 5px 5px 1px 0px #434b56;
}

nav div div a {
  color: #434b56;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size 0.3s;
}
nav div div a:hover {
  color: #434b56;
  background-size: 100% 2px;
}

.nav-links {
  text-decoration: none;
  font-size: 1em;
  font-weight: 400;
  margin: auto;
}

.navtext {
  color: #434b56;
  font-weight: 400;
  font-size: 1.2em;
}

.w-500px {
  width: 500px;
}

.w-300px {
  width: 300px;
}

.w-100 {
  width: 100%;
}

.textos_about_us {
  font-weight: 400;
  font-size: 1.2em;
}

.min-maxcontainer2 {
  min-width: 300px;
  max-width: 600px;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.textalingcenter {
  text-align: center;
}

.textdecoration-none {
  text-decoration: none;
}

.display-none {
  display: none;
}

.flex-warp {
  flex-wrap: wrap;
}

h1, h2, h3 {
  font-weight: 500;
}

figcaption {
  font-weight: 300;
  margin: 20px;
}

.bg-color-logo {
  background-color: #434b56;
}
.bg-color-logo h2 {
  text-align: center;
  color: white;
}

main div img.logomain {
  width: 100%;
}

main div div.section-latest-products {
  flex-wrap: wrap;
}
main div div.section-latest-products figure {
  width: 250px;
  border: solid 1px #c8c9ca;
  border-radius: 10px;
  box-shadow: 8px 4px 10px #e0e0e0;
}
main div div.section-latest-products figure:hover {
  transform: scale(102%);
}
main div div.section-latest-products figure img {
  width: 80%;
}

.infoIndex {
  background-color: #d4d4dc;
  display: flex;
  justify-content: space-evenly;
}

.caja1 {
  padding-left: 20px;
  margin-top: 20%;
  max-width: 100px;
  min-width: 30px;
}

.caja2 {
  margin-top: 20px;
  padding: 20px;
  text-align: left;
  max-width: 449px;
  min-width: 150px;
  height: auto;
}
.caja2 p {
  width: 100%;
  font-weight: 300;
  font-size: 1.2em;
}

.contenedor-motos {
  max-width: 449px;
  min-width: 150px;
}

.img-motos {
  width: 100%;
}

figure {
  width: 70%;
  border: solid 1px #c8c9ca;
  border-radius: 10px;
  box-shadow: 8px 4px 10px #e0e0e0;
  text-align: center;
  background-color: #ffffff;
}
figure:hover {
  transform: scale(102%);
}
figure img {
  width: 75%;
}

.gridcontainer {
  display: grid;
  grid-template-rows: 10vh 120vh 10vh;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas: "searchbar searchbar searchbar searchbar" "filtros contenedorproductos1 contenedorproductos2 contenedorproductos3" "filtros pgsproductos pgsproductos pgsproductos";
}

.srch-item1 {
  visibility: hidden;
  display: flex;
  align-items: center;
  margin: 0% 0%;
}

.srch-item2 {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 0% 1%;
}

.srch-item3 {
  width: 100px;
  display: flex;
  align-items: center;
  margin: 0% 0%;
  margin-right: 18em;
}

.searchbar {
  grid-area: searchbar;
  display: flex;
  justify-content: flex-end;
  padding-right: 5.5rem;
}
.searchbar select {
  visibility: hidden;
}
.searchbar h2 {
  color: #d4d4dc;
  margin: auto;
}
.searchbar input {
  border-radius: 5px;
  border: none;
  width: 400px;
  height: 30px;
  background-color: #f0f0f0;
}

.filtros {
  grid-area: filtros;
  padding: 8% 10%;
}
.filtros a {
  color: rgb(146, 146, 146);
  font-size: 1.3em;
  text-decoration: none;
  margin-bottom: 4px;
}
.filtros a:hover {
  color: rgb(67, 75, 86);
}
.filtros li {
  list-style: none;
}
.filtros span {
  display: block;
  color: rgb(0, 0, 0);
  margin: 10px 0;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.contenedorproductos1 {
  background-color: rgb(250, 250, 250);
  grid-area: contenedorproductos1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.contenedorproductos2 {
  background-color: rgb(250, 250, 250);
  grid-area: contenedorproductos2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.contenedorproductos3 {
  background-color: rgb(250, 250, 250);
  grid-area: contenedorproductos3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.pgsproductos {
  grid-area: pgsproductos;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pgsproductos a {
  text-decoration: none;
  margin: 1%;
  color: rgb(146, 146, 146);
}

.prod-wrapper {
  max-width: 1100px;
  margin: 0 auto;
}

main div .product-imgs img {
  width: 100%;
  display: block;
}

.img-display {
  overflow: hidden;
}

.img-showcase {
  display: flex;
  width: 100%;
  transition: all 0.5s ease;
}
.img-showcase img {
  min-width: 100%;
}

.img-item {
  margin: 0.3rem;
}
.img-item :nth-child(1), .img-item :nth-child(2) {
  margin-right: 0;
}
.img-item:hover {
  opacity: 0.8;
}

.product-content {
  padding: 2rem 1rem;
}

.product-title {
  font-size: 3rem;
  font-weight: 700;
  position: relative;
  color: #434b56;
  margin: 1rem 0;
}

.product-title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  width: 80px;
  background: #434b56;
}

.product-price {
  font-weight: 500;
}

.purchase-info {
  margin: 1.5rem 0;
}
.purchase-info input {
  width: 60px;
}
.purchase-info input, .purchase-info .btn-buy {
  border: 1.5px solid #ddd;
  border-radius: 25px;
  text-align: center;
  padding: 0.45rem 0.8rem;
  outline: 0;
  margin-right: 0.2rem;
  margin-bottom: 1rem;
}
.purchase-info .btn-buy {
  cursor: pointer;
  color: #fff;
  background: #f64749;
}
.purchase-info .btn-buy:hover {
  opacity: 0.9;
}

.product-detail ul {
  margin: 1rem 0;
  padding-left: 0;
  font-size: 0.9rem;
}
.product-detail ul li {
  list-style: none;
  margin: 0.4rem 0;
  font-weight: 600;
}
.product-detail ul li span {
  font-weight: 400;
}

.content {
  padding: 0px 1em;
  width: 10em;
  display: flex;
  border: 2px solid #d4d4dc;
  border-radius: 5px;
  cursor: pointer;
}

.content.reccomend-active {
  border-color: #d4d4dc;
  background: #457be7;
}

.text {
  font-size: 21px;
  color: rgb(146, 146, 146);
}

.text.reccomend-active {
  color: white;
}

.numb:before {
  content: "0";
  font-size: 21px;
  margin-left: 7px;
  font-weight: 600;
  color: #9C9496;
}

.numb.reccomend-active:before {
  content: "1";
  color: white;
}

@media screen and (min-width: 992px) {
  .section-prod {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5rem;
  }
  .prod-wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .product-imgs {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .product-content {
    padding-top: 0;
  }
}
.contact-title {
  font-size: 3rem;
  font-weight: 700;
  color: #434b56;
}

.secondary-title {
  font-size: 2rem;
  color: #434b56;
}

.contact-form {
  max-width: 600px;
  margin: auto;
  padding: 0 20px;
  overflow: hidden;
}

.contact-form-text {
  display: block;
  width: 100%;
  border-radius: 0 10px 0 10px;
  margin: 16px 0;
  border: 0;
  background: #d4d4dc;
  padding: 20px 40px;
  outline: none;
  transition: 0.5s;
}
.contact-form-text:focus {
  box-shadow: 5px 5px 1px 0px #434b56;
}

textarea.contact-form-text {
  resize: none;
  height: 120px;
}

.contact-form-btn {
  border: 0;
  background: #434b56;
  color: white;
  padding: 12px 50px;
  margin: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s;
}
.contact-form-btn:hover {
  background: rgb(141, 144, 148);
}

.icon {
  width: 40px;
  fill: #434b56;
}

@media screen and (max-width: 495px) {
  .contact-title {
    font-size: 2rem;
    font-weight: 700;
    color: #434b56;
  }
  .secondary-title {
    font-size: 1.3em;
    color: #434b56;
    text-align: center;
  }
  main div p.p-2 {
    text-align: center;
  }
  #contact-buttons {
    display: flex;
    justify-content: center;
  }
  .contact-form-btn {
    padding: 10px 35px;
    margin: auto;
  }
  #contenedor-icons {
    display: inline;
  }
}
.reset {
  overflow-x: hidden;
}

.imgdiv {
  max-width: 800px;
  min-width: 300px;
}

.error404 {
  font-size: 7.5em;
  margin: 15px 0px;
  font-weight: bold;
}

.UH-OH {
  font-weight: bold;
}

.btn {
  z-index: 1;
  overflow: hidden;
  background: transparent;
  position: relative;
  padding: 8px 50px;
  border-radius: 30px;
  cursor: pointer;
  font-size: 1em;
  letter-spacing: 2px;
  transition: 0.2s ease;
  font-weight: bold;
  margin: 5px 0px;
}
.btn.main-color {
  border: 4px solid var(--maincolor);
  color: var(--maincolor);
}
.btn.main-color:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0%;
  height: 100%;
  background: var(--maincolor);
  z-index: -1;
  transition: 0.2s ease;
}
.btn.main-color:hover {
  color: var(--white);
  background: var(--maincolor);
  transition: 0.2s ease;
}
.btn.main-color:hover:before {
  width: 100%;
}

footer {
  background-color: #434b56;
  padding: 2% 3%;
}
footer svg {
  width: 20px;
  fill: white;
  margin: 12px;
}
footer p {
  color: white;
}

.flex-center nav {
  margin: 0px 30px;
  text-align: center;
}
.flex-center nav a {
  text-decoration: none;
  color: white;
}
.flex-center nav a:hover {
  color: rgb(141, 144, 148);
}

.logofooter {
  width: 150px;
  margin: 10px;
}

.footertext {
  width: 300px;
  font-size: 1em;
  font-weight: 300;
  text-align: center;
}

@media (width < 768px) {
  footer {
    background-color: #434b56;
    padding: 2% 2%;
  }
  footer svg {
    width: 18px;
    fill: white;
    margin: 10px;
  }
  footer p {
    color: white;
  }
  footer div div nav p {
    font-size: 0.75em;
  }
  footer div div nav a {
    font-size: 0.75em;
  }
  .flex-center nav {
    margin: 0px 10px;
    text-align: center;
  }
  .flex-center nav a {
    text-decoration: none;
    color: white;
  }
  .flex-center nav a:hover {
    color: rgb(141, 144, 148);
  }
  .logofooter {
    width: 100px;
    margin: 10px;
  }
  .footertext {
    width: 200px;
    font-size: 0.875em;
    font-weight: 300;
    text-align: center;
  }
  figure {
    width: 80%;
    height: 24%;
    border: solid 1px #c8c9ca;
    border-radius: 10px;
    box-shadow: 8px 4px 10px #e0e0e0;
    text-align: center;
    background-color: #ffffff;
  }
  figure img {
    width: 90%;
  }
  figcaption {
    font-weight: 300;
    margin: 10px;
  }
  .gridcontainer {
    display: grid;
    grid-template-rows: 10vh 120vh 10vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "searchbar searchbar searchbar" "filtros contenedorproductos1 contenedorproductos2" "filtros pgsproductos pgsproductos";
  }
  .srch-item1 {
    visibility: hidden;
    display: flex;
    align-items: center;
    margin: 0% 0%;
  }
  .srch-item2 {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 0% 1%;
  }
  .srch-item3 {
    width: 100px;
    display: flex;
    align-items: center;
    margin: 0% 0%;
    margin-right: 12em;
  }
  .searchbar {
    grid-area: searchbar;
    display: flex;
    justify-content: flex-end;
    padding-right: 2rem;
  }
  .searchbar select {
    visibility: hidden;
  }
  .searchbar h2 {
    color: #d4d4dc;
    margin: auto;
  }
  .searchbar input {
    border-radius: 5px;
    border: none;
    width: 300px;
    height: 30px;
    background-color: #f0f0f0;
  }
  .contenedorproductos1 {
    background-color: rgb(250, 250, 250);
    grid-area: contenedorproductos1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  .contenedorproductos2 {
    background-color: rgb(250, 250, 250);
    grid-area: contenedorproductos2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  .contenedorproductos3 {
    display: none;
  }
}
@media (width < 430px) {
  footer {
    background-color: #434b56;
    padding: 2% 2%;
  }
  footer svg {
    width: 18px;
    fill: white;
    margin: 10px;
  }
  footer p {
    color: white;
  }
  #links-footer {
    display: none;
  }
  div .flex-column {
    margin: auto;
  }
  .flex-center nav a {
    text-decoration: none;
    color: white;
  }
  .flex-center nav a:hover {
    color: rgb(141, 144, 148);
  }
  .logofooter {
    width: 100px;
    margin: 10px;
  }
  .footertext {
    width: 200px;
    font-size: 0.875em;
    font-weight: 300;
    text-align: center;
  }
  .caja1 {
    padding-left: 0;
    margin: 20px auto;
    max-width: 50px;
    min-width: 30px;
  }
  .caja2 {
    margin-top: 0px;
    padding: 10px;
    text-align: center;
    max-width: 449px;
    min-width: 150px;
    height: auto;
  }
  .caja2 p {
    width: 100%;
    font-weight: 300;
    font-size: 0.75em;
  }
  .contenedor-motos {
    display: none;
  }
  figure {
    width: 80%;
    height: 27%;
    border: solid 1px #c8c9ca;
    border-radius: 10px;
    box-shadow: 8px 4px 10px #e0e0e0;
    text-align: center;
    background-color: #ffffff;
  }
  figure img {
    width: 90%;
  }
  figcaption {
    font-weight: 300;
    margin: 0px;
    font-size: 0.75em;
  }
  .gridcontainer {
    display: grid;
    grid-template-rows: 10vh 80vh 10vh;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "searchbar searchbar" "contenedorproductos1 contenedorproductos2" "pgsproductos pgsproductos";
  }
  .srch-item1 {
    visibility: visible;
    display: flex;
    align-items: center;
    margin: 0% 1%;
  }
  .srch-item2 {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 0% 1%;
  }
  .srch-item3 {
    width: 100px;
    display: flex;
    align-items: center;
    margin: 0% 1%;
  }
  .searchbar {
    grid-area: searchbar;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 0px;
  }
  .searchbar select {
    color: #434b56;
    visibility: visible;
    border: none;
    background-color: rgb(236, 236, 236);
    border-radius: 4px;
    width: 100px;
  }
  .searchbar h2 {
    color: #d4d4dc;
    margin: auto;
  }
  .searchbar input {
    border-radius: 5px;
    border: none;
    width: 100px;
    height: 25px;
    background-color: #f0f0f0;
  }
  .contenedorproductos1 {
    background-color: rgb(250, 250, 250);
    grid-area: contenedorproductos1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  .contenedorproductos2 {
    background-color: rgb(250, 250, 250);
    grid-area: contenedorproductos2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  .contenedorproductos3 {
    display: none;
  }
  .filtros {
    display: none;
  }
}

/*# sourceMappingURL=main.css.map */
