button.navbar-toggler{

    
    background-color: $figureColor;
    &:hover{
        box-shadow: 5px 5px 1px 0px $mainColor;
    }

  }

//animacion nav

nav{
    div{
        div{
            a{
                color: $mainColor;
                background-image: linear-gradient(currentColor, currentColor);
                background-position: 0% 100%;
                background-repeat: no-repeat;
                background-size: 0% 2px;
                transition: background-size .3s;
                 &:hover{
                    color: $mainColor;
                     background-size: 100% 2px;
                }
            }
        }
    }
}


.nav-links{


    text-decoration: none;
    font-size: $textMd;
    font-weight: $fontRegular;
    margin: auto;
    
}

.navtext {

    color: $mainColor;
    font-weight: $fontRegular;
    font-size: $textLg;

}
.w-500px {

    width: 500px;
}
.w-300px{

    width: 300px;
}
.w-100 {

    width: 100%;
}
.textos_about_us {

    font-weight: $fontRegular;
    font-size: $textLg;
}

.min-maxcontainer2 {

    min-width: 300px;
    max-width: 600px;
}

.position-relative {

    position: relative;
}

.position-absolute {

    position: absolute;
    
}

.textalingcenter {

    text-align: center;
}

.textdecoration-none{

    text-decoration: none;
}

.display-none {

    display: none;
}


.flex-warp {

    flex-wrap: wrap;
}


h1,h2,h3 {

    font-weight: $fontBold;
    
}

figcaption {

        font-weight: $fontLight;
        margin: 20px;
}

.bg-color-logo {

    background-color:$mainColor;
    h2{
        text-align: center;
        color:$baseColor;
    }
}
