main{
    div{
        img.logomain{
        
            width: 100%;
        }

    }

}
main{
    div{ 
        div.section-latest-products{ 
            flex-wrap: wrap;
            figure{
            @include indexcards (250px,solid 1px $figureBorder,10px,8px 4px 10px $figureShadow);
            img{
                width: 80%;
            }
            }
        }
    }
}




.infoIndex {

    background-color: $secondaryColor;
    display: flex;
    justify-content: space-evenly;
    
}
.caja1{

    padding-left: 20px;
    margin-top: 20%;
    max-width: 100px;
    min-width: 30px;
}
.caja2{

     margin-top: 20px;
     padding: 20px;
     text-align: left;
     max-width: 449px;
     min-width: 150px;
     height: auto;
     p{
        width: 100%;
        font-weight: $fontLight;
        font-size: $textLg;
     }
}

.contenedor-motos{

    
    max-width: 449px;
    min-width: 150px;
    

}

.img-motos{

    width: 100%;
}